<div class="itemDetail">
    <article class="itemDetailCard">
        <input type="hidden" id="productId" value="{{product.id}}" />
        <header class="itemDetailCardHeader">
            <h2>{{product.title}}</h2>
        </header>
        <picture>
            <img class="itemDetailCardImage" src={{product.image}} />
        </picture>
        <section class="itemDetailCardSection">
            <span class="itemDetailCardSectionBrand">
                {{product.code}}
            </span>
            <div class="itemDetailCardSectionKeyValue">
                <span>Precio: </span>
                <span>$ {{product.price}}</span>
            </div>
            <div class="itemDetailCardSectionKeyValue">
                <span>Stock disponible: </span>
                <span>{{product.stock}}</span>
            </div>
        </section>
        <footer class="itemDetailCardFooter">
            <button class="itemDetailCardFooterButton" id="btnAddCart">
                Agregar al carrito
            </button>
            <a class="itemDetailCardFooterButton" href="/products">
                Volver al catálogo
            </a>
        </footer>
    </article>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/product.js"></script>